<%= form_for @photo, html: {class: 'form-horizontal'} do |f| %>
    <div class="form-group <%= 'has-error' if @photo.errors[:name].any? %>">
        <div class="">
            <%= f.label :caption, class: 'control-label' %>
            <%= f.text_field :caption, class: 'form-control' %>
        </div>
        <div class="">
            <%= f.label :image, class: 'control-label' %>
            <%= f.file_field :image %>
            <%= image_tag @photo.image.url(:small) %>
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>	